<div class="padding-body">
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand"
                   href="#!/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget">
                    <span class="glyphicon glyphicon-chevron-left">
                    </span>
                </a>
                <a class="navbar-brand" href="#!/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget/{{model.widgetId}}">
                    Widget Edit
                </a>

                <a class="visible-xs navbar-brand nav-right pull-right"
                   href="#!/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget">
                    <span class="glyphicon glyphicon-ok">
                    </span>
                </a>
            </div>

            <div class="hidden-xs nav-header collapse navbar-collapse">
                <a class="nav navbar-brand nav-right pull-right"
                   href="#!/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget">
                    <span class="glyphicon glyphicon-ok">
                    </span>
                </a>
            </div>

        </div>
    </nav>

    <!-- Start of body content -->
    <div class="container-fluid">
        <div ng-switch="model.widget.widgetType">
            <div ng-switch-when="HEADING">
                <ng-include src="'views/widget/templates/editors/widget-heading.edit.view.client.html'">
            </div>
            <div ng-switch-when="IMAGE">
                <ng-include src="'views/widget/templates/editors/widget-image.edit.view.client.html'">
            </div>
            <div ng-switch-when="YOUTUBE">
                <ng-include src="'views/widget/templates/editors/widget-youtube.edit.view.client.html'">
            </div>
        </div>
    </div>

    <nav class="navbar navbar-default navbar-right navbar-fixed-bottom">
        <div class="container-fluid">
            <div class="navbar-header navbar-right pull-right">
                <a class="navbar-brand" href="#!/user/{{model.userId}}">
                    <span class="pull-right glyphicon glyphicon-user"></span>
                </a>
            </div><!-- /.navbar-collapse -->
        </div>
    </nav>
</div>