<div class="container-fluid">
<label for="name">Name</label>
<input name="name"
       ng-model="model.widget.name"
       class="form-control"
       value="Top Heading"
       id="name">

<label for="text">Text</label>
<input name="text"
       ng-model="model.widget.text"
       value="Economist"
       class="form-control"
       id="text">

<label for="url">Url</label>
<input name="url"
       ng-model="model.widget.url"
       class="form-control"
       id="url">

<label for="size">Size</label>
<input name="size"
       id="size"
       class="form-control"
       ng-model="model.widget.size">
</input>

<label for="width">Width</label>
<input name="width"
       value="100%"
       class="form-control"
       ng-model="model.widget.width"
       id="width">

<a  class="btn btn-default btn-primary btn-block"
    href="#!/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget/{{model.widgetId}}/search"
    role="button">
    Search Flickr
</a>

<div class="upload">
    <label for = "upload">Upload</label>
    <form action="/api/upload" id = "upload" method="post" enctype="multipart/form-data">
        <input  name="myFile"    type="file" class="form-control"/>
        <input  name="width"     value="{{model.widget.width}}" style="display: none"/>
        <input  name="userId"    value="{{model.userId}}"   style="display: none"/>
        <input  name="websiteId" value="{{model.websiteId}}"   style="display: none"/>
        <input  name="pageId"    value="{{model.pageId}}"   style="display: none"/>
        <input  name="widgetId"  value="{{model.widget._id}}"   style="display: none"/>
        <button type="submit"    class="btn btn-block btn-primary">Upload Image</button>
    </form>
</div>

<a  class="btn btn-default btn-danger btn-block"
    ng-click="model.deleteWidget()"
    role="button">
    Delete
</a>
</div>