<div class="padding-body">
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#!/user/{{model.userId}}/website">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
            <a class="navbar-brand" href="#!/user/{{model.userId}}/website/{{model.websiteId}}/page">
                Pages
            </a>

            <a class="visible-xs navbar-brand nav-right pull-right" href="#!/user/{{model.userId}}/website/{{model.websiteId}}/page/new">
                    <span class="glyphicon glyphicon-plus">
                    </span>
            </a>
        </div>

        <div class="hidden-xs nav-header collapse navbar-collapse">
            <a class="nav navbar-brand nav-right pull-right" href="#!/user/{{model.userId}}/website/{{model.websiteId}}/page/new">
                    <span class="glyphicon glyphicon-plus">
                    </span>
            </a>
        </div>

    </div>
</nav>

<!-- Start of body content -->
<div class="container-fluid">
    <li class="list-group-item active">
        <div class="row">
            <div class="col-xs-10 col-sm-3">Name</div>
            <div class="col-sm-7 hidden-xs">Description</div>
            <div class="col-xs-2">

            </div>
        </div>
    </li>
    <li ng-repeat="page in model.pages" class="list-group-item">
        <div class="row">
            <div class="col-xs-10 col-sm-3">
                <a href="#!/user/{{model.userId}}/website/{{model.websiteId}}/page/{{page._id}}/widget">
                    {{page.name}}
                </a>
            </div>
            <div class="col-sm-7 hidden-xs">
                {{page.description}}
            </div>
            <div class="col-xs-2">
                <a href="#!/user/{{model.userId}}/website/{{model.websiteId}}/page/{{page._id}}">
                <span class="glyphicon glyphicon-cog pull-right"></span>
                </a>
            </div>
        </div>
    </li>
</div>

<nav class="navbar navbar-default navbar-right navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-header navbar-right pull-right">
            <a class="navbar-brand" href="#!/user/{{model.userId}}">
                <span class="pull-right glyphicon glyphicon-user"></span>
            </a>
        </div><!-- /.navbar-collapse -->
    </div>
</nav>
</div>