<div ng-include="'views/templates/header.html'"></div></nav>
<div class="container-fluid full-height adim-edit-review">
    <form class="form-titled form-horizontal">
        <h2>Review Title</h2>
        <input type="text"
               class="form-control input-block"
               placeholder="Title"
               ng-model="model.editReview.title">
        <h2>Review </h2>
        <textarea type="text"
                  rows="3"
                  class="form-control input-block"
                  placeholder="Review"
                  ng-model="model.editReview.comment"></textarea>
        <h2>Rating</h2>
        <input type="number"
               class="form-control input-block"
               placeholder="Rating"
               ng-model="model.editReview.rating">
        <a class="btn-primary btn btn-block" ng-click="model.updateReview(model.editReview)">Update</a>
        <a class="btn-danger btn btn-block"  ng-click="model.deleteReview()">Delete</a>
        <a class="btn-warning btn btn-block" href="#!/home">Cancel</a>
    </form>
</div>