<div ng-include="'views/templates/header.html'"></div></nav>
<div class="user-detail-div container-fluid">
    <div class="user-detail-header-div">
        <div class="user-detail-header-img-div">
            <img class="user-photo-large" ng-src="{{model.editUser.avatar}}">
        </div>
    </div>
</div>
<div class="container full-height">
    <div class="alert " ng-show="model.errorMessage !== '1'">
        <span class="closebtn" ng-click="model.defaultMessage()">&times;</span>
        {{model.errorMessage}}
    </div>
    <form class="form-titled form-horizontal">
        <h5>Username</h5>
        <input type="text"
               class="form-control input-block"
               placeholder="username"
               ng-model="model.editUser.username">
        <h5>Password</h5>
        <input type="Password"
               class="form-control input-block"
               placeholder="password"
               ng-model="model.editUser.password"
               id="pass"
        >
        <h5>First Name</h5>
        <input type="text"
               class="form-control input-block"
               placeholder="first name"
               ng-model="model.editUser.firstName"
        >
        <h5>Last Name</h5>
        <input type="text"
               class="form-control input-block"
               placeholder="last name"
               ng-model="model.editUser.lastName">
    </form>
    <div class="upload">
        <h5>Upload Avatar</h5>
        <form action="/projectapi/avatar" id = "upload" method="post" enctype="multipart/form-data">
            <input  name="avatar" type="file" class="form-control"/>
            <input  name="userId" value="{{model.editUser._id}}"   style="display: none"/>
            <button type="submit" class="btn btn-block btn-success">Upload</button>
        </form>
    </div>
    <a class="btn btn-primary btn-block"
       role="button"
       id="passbtn"
       href=""
       ng-click="model.showPassword()">Show Password</a>
    <a class="btn btn-primary btn-block"
       role="button"
       ng-click="model.updateUser(model.editUser, model.editUser.username, model.editUser.password,
       model.editUser.firstName, model.editUser.lastName)">Update User</a>
    <a class="btn btn-danger btn-block"
       role="button"
       ng-click="model.unregister()">Delete User</a>
    <a class="btn btn-danger btn-block" href="#!/" role="button">Log Out</a>
</div>