<div class="container-fluid">
    <form class="form-titled form-horizontal">
        <h2>Review Title</h2>
        <input type="text"
               class="form-control input-block"
               placeholder="Title"
               ng-model="model.newreview.title">
        <h2>Review </h2>
        <textarea type="text"
                  rows="3"
               class="form-control input-block"
               placeholder="Review"
                  ng-model="model.newreview.comment"></textarea>
        <h2>Rating</h2>
        <input type="number"
               class="form-control input-block"
               placeholder="Rating"
               ng-model="model.newreview.rating">
        <a class="btn-primary btn btn-block" ng-click="model.addReviewToSong()">Review</a>
        <a class="btn-danger btn btn-block"  ng-click="model.cancelReview()">Cancel</a>
    </form>
</div>