<form class="form-titled form-horizontal">
    <div class="alert " ng-show="model.errorFavouriteMessage !== '1'">
        <span class="closebtn" ng-click="model.defaultMessage()">&times;</span>
        {{model.errorFavouriteMessage}}
    </div>
    <h5>Song Name</h5>
    <input type="text"
           class="form-control input-block"
           readonly
           value="{{model.song.name}}">
    <h5>Description</h5>
    <input type="text"
           class="form-control input-block"
           readonly
           value="{{model.song.description}}">
    <h5>Creator</h5>
    <input type="text"
           class="form-control input-block"
           readonly
           value="{{model.song._creator.username}}">
    <h5>Add to Playlist</h5>
    <select ng-model="model.playlistId"
            class="form-control">
        <option ng-repeat=" playlist in model.playlists"
                value="{{playlist._id}}">{{playlist.name}}
        </option>
    </select>
    <a class="btn btn-primary btn-block"
       role="button"
       ng-click="model.addSongToPlaylist(model.playlistId)">Confirm</a>
    <a class="btn btn-success btn-block"
       role="button"
       ng-click="model.favouriteSong('no')">Cancel</a>
</form>