<nav class=" footer-explore-mobile navbar navbar-inverse navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-footer">
            <a class="navbar-brand" href="#!/home">M</a>
            <!--<ul class="nav navbar-nav foorter-mobile play-btn">-->
            <span><a href=""><span class="navbar-brand glyphicon glyphicon-step-backward"></span></a></span>
            <span><a href=""><span class="navbar-brand glyphicon glyphicon-play-circle"></span></a></span>
            <span><a href=""><span class="navbar-brand glyphicon glyphicon-pause"></span></a></span>
            <span><a href=""><span class="navbar-brand glyphicon glyphicon-step-forward"></span></a></span>
            <!--</ul>-->

            <!--<ul class="nav navbar-nav foorter-mobile navbar-right">-->

            <span><a class="navbar-brand explore-btn btn btn-success" href="#!/explore" role="button">Explore</a></span>
            <!--</ul>-->
        </div>
        <!--<div class="collapse navbar-collapse">-->
            <!---->

        <!--</div>-->
    </div>
</nav>