
<nav class="user navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#muscikerNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <!--<ng-switch={{model.user.type}}>-->
            <!--<div ng-switch-when="'GENERAL'">-->
                <!--<a class="navbar-brand" href="#!/home">user</a>-->
            <!--</div>-->
            <!--<div ng-switch-when="CRITIC">-->
                <!--<a class="navbar-brand" href="#!/home">critic</a>-->
            <!--</div>-->
            <!--<div ng-switch-when="PUBLISHER">-->
                <!--<a class="navbar-brand" href="#!/home">publisher</a>-->
            <!--</div>-->
            <!--<div ng-switch-when="MUSICIAN">-->
                <!--<a class="navbar-brand" href="#!/home">musician</a>-->
            <!--</div>-->

            <!--</ng-switch>-->
            <a class="navbar-brand" href="#!/home">{{model.user.type}}</a>

        </div>
        <div class="collapse navbar-collapse" id="muscikerNavbar">
            <ul class="nav navbar-nav">
                <li><a href="#!/home">Home</a></li>
                <!--<li><a href="#!/play">PLAY</a></li>-->
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#!/profile"><span class="glyphicon glyphicon-user"></span> {{model.user.username}}</a></li>
                <li><a ng-click="model.logout()" href=""><span class="glyphicon glyphicon-log-in"></span> Log out</a></li>
            </ul>
        </div>
    </div>
</nav>

<!--<nav class="navbar navbar-inverse">-->
    <!--<div class="container-fluid">-->
        <!--<div class="navbar-header">-->
            <!--&lt;!&ndash;<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">&ndash;&gt;-->
                <!--&lt;!&ndash;<span class="icon-bar"></span>&ndash;&gt;-->
                <!--&lt;!&ndash;<span class="icon-bar"></span>&ndash;&gt;-->
                <!--&lt;!&ndash;<span class="icon-bar"></span>&ndash;&gt;-->
            <!--&lt;!&ndash;</button>&ndash;&gt;-->
            <!--<a class="navbar-brand" href="#!/">Musiker</a>-->
        <!--</div>-->
        <!--<div class="collapse navbar-collapse" id="myNavbar">-->
            <!--<ul class="nav navbar-nav">-->
                <!--<li><a href="#!/home">Home</a></li>-->
                <!--<li><a href="#!/play">PLAY</a></li>-->
            <!--</ul>-->
            <!--<ul class="nav navbar-nav navbar-right">-->
                <!--<li><a href="#!/register"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>-->
                <!--<li><a href="#!/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>-->
            <!--</ul>-->
        <!--</div>-->
    <!--</div>-->
<!--</nav>-->