<div class="container contents">
    <h1>  Music play demo </h1>
    <hr>
    <div class="row">
        <div class="col-md-12">
            <!--<img class="img img-responsive" src="song.png"/>-->
            <h2> shape of you.mp3 </h2>
            <a href="/projectapi/music?id=shape_of_you.mp3" target="_blank"> <button class="btn btn-success"> Play </button>	</a> <hr>
            <a href="/projectapi/download?id=shape_of_you.mp3"  target="_blank"> <button class="btn btn-success"> Downnload </button> </a>
        </div>
    </div>
</div>