
<div class="container-fluid newPlaylist">

    <label for="name">Name</label>
    <input name="name"
           placeholder="Name"
           ng-model="model.playlist.name"
           type="text"
           class="form-control"
           id="name"/>

    <label for="description">Description</label>
    <textarea name="description"
              ng-model = "model.playlist.description"
              rows="5"
              placeholder="Description"
              class="form-control"
              id="description"></textarea>

    <a ng-click="model.createPlaylistForUser(model.playlist)"
       class="btn btn-default btn-success btn-block">Create</a>
    <!--<a href="#!/home" class="btn btn-danger black-btn btn-block">Cancel</a>-->

</div>