<div class="container-fluid">
    <h2>My Reviews</h2>
    <div class="musician-detail-conntent-div">
        <ul  class="list-group list-div active">
            <li ng-repeat="review in model.reviews" class="list-group-item col-xs-12 col-sm-6">
                <div class="row">
                    <div>
                        <div class="review-item">
                            <h2>Review Title:</h2>
                            <h3 class="reivew-content">{{review.title}}</h3>
                        </div>
                        <div class="review-item">
                            <h2>for Song:</h2>
                            <h3 class="reivew-content song-name">{{review._song.name}}</h3>
                        </div>
                        <div class="review-item">
                            <h2>comment:</h2>
                            <h3 class="reivew-content">{{review.comment}}</h3>
                        </div>
                        <div class="review-item">
                            <h2>Rating:</h2>
                            <h3 class="reivew-content">{{review.rating}}</h3>
                        </div>
                        <a class="detail-operator" href="#!/song/{{review._song._id}}"><span class="glyphicon glyphicon-pencil"></span></a>


                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>