<div  ng-include="'views/templates/footer-explore.html'"></div>
<div ng-include="'views/templates/header.html'"></div>

<div class="song-detail-div container-fluid">
    <div ng-show="model.favourite === 'no'" class="song-detail-header-div">
        <div class="song-detail-header-img-div">
            <img class="song-artist-photo-large"  ng-src="{{model.song.cover}}">
        </div>
        <div class="song-detail-header-description-div">
            <div>
                <label class="song-detail-label">Song Name:</label><span></span>
                <span>{{model.song.name}}</span>
            </div>
            <div ng-show="model.song._creator">
                <label class="song-detail-label">Artist:</label><span></span>
                <span>{{model.song._creator.username}}</span>
            </div>
            <div ng-hide="model.song._creator">
                <label class="song-detail-label">Artist:</label><span></span>
                <span>{{model.song.artist}}</span>
            </div>
        </div>
        <div class="song-detail-header-control-div">
            <div ng-show="model.user.type === 'CRITIC'">
                <a class="detail-operator" ng-click="model.reviewSong(song)"><span class="glyphicon glyphicon-pencil"></span></a>
                <a class="detail-operator" ng-click="model.favouriteSong('yes')"><span class="glyphicon glyphicon-plus"></span></a>
            </div>
            <div ng-show="model.user._id === model.song._creator._id">
                <a class="detail-operator" ng-click="model.edit = 'yes'"><span class="glyphicon glyphicon-cog"></span></a>
            </div>
            <div ng-show="model.user.type === 'GENERAL'">
                <a class="detail-operator" ng-click="model.favourite = 'yes'"><span class="glyphicon glyphicon-plus"></span></a>
            </div>
            <div ng-show="model.user.type === 'PUBLISHER' && model.song._creator">
                 <a class="detail-operator" ng-click="model.buy = 'yes'"><span class="glyphicon glyphicon-envelope"></span></a>
            </div>
        </div>
    </div>
    <div ng-show="model.favourite === 'yes'" ng-include src="'views/templates/favourite-song.html'"></div>
    <div ng-show="model.edit === 'yes'" ng-include src="'views/templates/edit-song.html'"></div>
    <div ng-show="model.editreview === 'yes'" ng-include src="'views/templates/edit-review.html'"></div>
    <div ng-show="model.buy === 'yes'" ng-include src="'views/templates/buy-song.html'"></div>
    <div>
        <ul  class="list-group list-div active">
            <li ng-repeat="review in model.reviews" class="list-group-item">
                <div class="row">

                    <div>
                        <div class="review-item">
                            <h2>Review Title:</h2>
                            <h3 class="reivew-content">{{review.title}}</h3>
                        </div>
                        <div class="review-item">
                            <h2>comment:</h2>
                            <h3 class="reivew-content">{{review.comment}}</h3>
                        </div>
                        <div class="review-item">
                            <h2>Rating:</h2>
                            <h3 class="reivew-content">{{review.rating}}</h3>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>