<div class="search">
        <h1 class="visible-sm visible-md visible-lg">Upload My Song</h1>
        <h2 class="visible-xs">Upload My Song</h2>
        <form action="/projectapi/upload" id = "upload" method="post" enctype="multipart/form-data">
            <input  name="myFile" type="file" class="form-control"/>
            <input  name="songName" id="songname" placeholder="Song Name" class="form-control">
            <input  name="userId" value="{{model.user._id}}"   style="display: none"/>
            <input  name="cover" value="{{model.user.avatar}}"   style="display: none"/>
            <button type="submit" class="btn btn-block btn-success">Upload Song</button>
        </form>
</div>