<div  ng-include="'views/templates/footer-explore.html'"></div>
<div ng-include="'views/templates/header.html'"></div>

<div class="main-wrap">
    <input id="slide-sidebar" type="checkbox" role="button" />
    <label class="myslide-label" for="slide-sidebar"><span class="glyphicon glyphicon-align-justify"></span></label>
    <div class="mysidebar">
        <div class="list-menu">
            <ul class="list-group">
                <a ng-click="model.changeRightPanel('musicians')">
                    <li class="list-group-item">Musicians</li >
                </a>
                <a ng-click="model.changeRightPanel('critics')">
                    <li class="list-group-item">Critics</li >
                </a>
                <li class="list-group-item"><a ng-click="model.changeRightPanel('create-playlist')">
                    <span class="glyphicon glyphicon-plus pull-right"></span>
                </a>Playlists</li >
                <div class = "my-playlist" >
                    <div ng-show= "model.playlists" ng-repeat="playlist in model.playlists" class="list-group">
                        <li class="list-group-item">
                            <a ng-click="model.getAllSongsFromPlaylist(playlist._id)">{{playlist.name}}</a>
                            <a class="glyphicon glyphicon-trash pull-right" ng-click="model.deletePlaylistForUser(playlist._id)"></a>
                        </li>
                    </div>
                </div>
            </ul>
        </div>

    </div>

    <div class="portfolio">
        <div ng-show="model.rightPanel === 'create-playlist'" ng-include src="'views/templates/playlist-new.html'"></div>
        <div ng-show="model.rightPanel === 'songlist'" ng-include src="'views/templates/playlist-detail.html'"></div>
        <div ng-show="model.rightPanel === 'musicians'" ng-include src="'views/templates/following-musicians.html'"></div>
        <div ng-show="model.rightPanel === 'critics'" ng-include src="'views/templates/following-critics.html'"></div>
    </div>
</div>

